# Secrets
config/secrets.toml

# Python virtual environment
.venv/
**/.venv/

# Python cache
__pycache__/
**/__pycache__/

# Pytest cache
.pytest_cache/
**/.pytest_cache/

# Coverage report
.coverage
**/.coverage

# Egg info
*.egg-info/
**/*.egg-info/

# Generated test result files
test_results.json
**/test_results.json
variable_comparison.json
**/variable_comparison.json
