version: '3.8'

services:
  mysql80:
    image: mysql:8.0.42
    container_name: mysql80
    restart: always
    ports:
      - "33060:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=test
      - MYSQL_DATABASE=testdb
    volumes:
      - ./mysql80/my.cnf:/etc/my.cnf
      - ./mysql80/init.sql:/docker-entrypoint-initdb.d/init.sql
      - mysql80_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

  mysql84:
    image: mysql:8.4.7
    container_name: mysql84
    restart: always
    ports:
      - "33061:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=test
      - MYSQL_DATABASE=testdb
    volumes:
      - ./mysql84/my.cnf:/etc/my.cnf
      - ./mysql84/init.sql:/docker-entrypoint-initdb.d/init.sql
      - mysql84_data:/var/lib/mysql

volumes:
  mysql80_data:
  mysql84_data:
